*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    /* text-decoration: none; */
}
.clear{
    float: left;
}

.container, .header-container{
     width: 1200;
    /* border: 1px solid red; */

    /* height: 0px; */
}
.container-main{
    width: 650px;
    height: 200px;
    /* border: 1px solid red; */
    margin: 180px auto;
}
.logo-container{
    width: 280px;
    margin: 0 auto;

}

.logo-container img{
    width: 280px;
    height: 100px;

}
.search-container input[type=text]{
    /* margin-left: 100px; */
    width: 500px;
    /* text-align: center; */
    border: 1px solid gainsboro;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
.search-container input[type=submit]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 120px;
    padding: 12px;
    font-size: 14px;
    background-color: red;
    border: 1px solid gainsboro;
    border-radius: 25px;
    cursor: pointer;

}
.header-container{
    width: 1200px;
    /* border: 1px solid red; */

}
.header-container .container-main{
    width: 800px;
    height: 100%;
    margin: 0;
}

 .header-logo img{
    width: 120px;
    height: 40px;
    /* : 0; */
    margin-right: 50px;
    margin-top: 10px;
    padding: 0;
    float: left;
}
.header-search-container input[type=text]{
    /* float: right; */
    /* margin-right: 40px; */
    margin-top: 10px;
    width: 520px;
    /* text-align: center; */
    border: 1px solid gainsboro;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
.header-search-container .searchbox{
    position: relative;
}
.header-search-container .search_btn{

 position: absolute;   

top: 20px;
left: 650px;
padding: 2px;
/* right: 20px; */


}
.tabs-container{
    
}
.tabs-container ul{
    margin-left: 180px;
    margin-top: 20px;
    list-style-type: none;
}
.tabs-container ul li{
    float: left;
    margin-right: 30px;
    font-size: 20px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    color: black;
}
.tabs-container ul li a{
    text-decoration: none;
}
